.row
  .span4.well
    = render 'nav'
    = link_to t('titles.story.new'), new_story_path, :class => 'btn'
  .span7.well
    .row
      .span1.gravatar
        = gravatar_for @user, :size => 96
      .span5
        %h1= @user.name
    - unless @user.stories_in.empty?
      .content
        %ul.stories.unstyled
          = render @user.stories_in
        .clear
